<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!-- 数据库配置 -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/xbdx?useUnicode=true&amp;characterEncoding=UTF-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/TAdmin.hbm.xml</value>
				<value>com/model/Yg.hbm.xml</value>
				<value>com/model/Goods.hbm.xml</value>
				<value>com/model/Cg.hbm.xml</value>
				<value>com/model/Cgmore.hbm.xml</value>
				<value>com/model/Xs.hbm.xml</value>
				<value>com/model/Xsmore.hbm.xml</value>
				<value>com/model/Gys.hbm.xml</value>
				<value>com/model/Cust.hbm.xml</value>
			     </list>
			    
		</property>
	</bean>
	
	<!-- bean配置 -->
	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adminAction" class="com.action.adminAction" scope="prototype">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
	</bean>
	
	<bean id="ygDAO" class="com.dao.YgDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ygAction" class="com.action.YgAction" scope="prototype">
		<property name="dao">
			<ref bean="ygDAO" />
		</property>
	</bean>
	
	<bean id="gysDAO" class="com.dao.GysDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="gysAction" class="com.action.GysAction" scope="prototype">
		<property name="dao">
			<ref bean="gysDAO" />
		</property>
	</bean>
	<bean id="custDAO" class="com.dao.CustDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="custAction" class="com.action.CustAction" scope="prototype">
		<property name="dao">
			<ref bean="custDAO" />
		</property>
	</bean>
	<bean id="goodsDAO" class="com.dao.GoodsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="goodsAction" class="com.action.GoodsAction" scope="prototype">
		<property name="dao">
			<ref bean="goodsDAO" />
		</property>
	</bean>
	
	</beans>